.backgroundLoading{
    -fx-background-image: url("../graphics/backgrounds/skyforLoadandWin.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.loading{
    -fx-font-size: 40 px;
    -fx-font-weight: bold;
    -fx-font-family: Papyrus;
}