#background{
    -fx-background-color: rgba(98, 177, 213, 0.4);
    -fx-background-size: cover;

}
.image{
    -fx-max-height: auto;
    -fx-min-height: auto;
}
.image:hover{
    -fx-opacity: 0.9;
}
.title{
    -fx-font-size: 30 px;
    -fx-font-family: Papyrus;
}
.button{
    -fx-background-image:"../graphics/perg2.png ";
    -fx-background-size: stretch;
    -fx-background-color: transparent;
    -fx-font-family: Papyrus;
    -fx-font-size: 24px;
}
.button:hover{
    -fx-opacity: 0.9;
}
.button:pressed{
    -fx-background-image: url("../graphics/perg_clicked.png");
    -fx-background-size: stretch;
    -fx-background-color: transparent;
    -fx-font-family: Papyrus;
    -fx-font-size: 24px;
}
