.background{
    -fx-background-image: url("../graphics/cloud.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

}
.title{
    -fx-font-size: 40 px;
    -fx-background-color: trasparent;
    -fx-font-family: Papyrus;
}
.label{
    -fx-font-size: 24 px;
    -fx-background-color: trasparent;
    -fx-font-family: Papyrus;
}
